# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Distribution / packaging
.Python
env/
.env
.venv
venv
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# VS Code
.vscode/

# Mac OS-specific storage files
.DS_Store

# Hydra logs
outputs/
multirun/

# Unit testing
.hypothesis/
.pytest_cache/
